#footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5px 60px;
  height: 100px;
  #footer-links {
    font-size: 24px;
    display: flex;
    text-decoration: none;
    list-style: none;
    li {
      margin-left: 20px;
      a {
        transition: 0.2s;
        color: black;
        &:hover {
          color: $orange;
          transition: 0.2s;
        }
      }
    }
  }
}