#navbar {
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  height: 100px;
  color: white;
  .content-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    .navbar-brand {
      #navbar-logo {
        height: 60px;
      }
    }
    .navbar-nav {
      .navbar-items {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        li {
          margin-left: 20px;
          padding-bottom: 8px;
          border-bottom: rgba(0,0,0,0) 2px solid;
          transition: 0.5s;
          &:hover {
            border-bottom: 2px $orange solid;
            cursor: pointer;
            transition: 0.5s;
          }
        }
      }
    }
  }
}