@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > * {
  width: 100%;
}

.jumbotron {
  height: 600px;
  background: lightgray;
  background-image: url("../img/live-event-bw.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: -1;
}

.jumbotron .blur {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jumbotron .blur #jumbotron-text {
  text-align: center;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);
}

.jumbotron .blur #jumbotron-text #company-span {
  color: #FF7916;
}

.jumbotron .blur .downwards-arrow {
  position: absolute;
  bottom: 20px;
  left: auto;
  color: white;
}

.clients {
  min-height: 550px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.clients .client-header {
  max-width: 1200px;
  padding: 20px 100px;
  font-size: 18px;
}

.clients .client-header .horizontal-marker {
  height: 60px;
  width: 80px;
  border-bottom: 4px solid #FF7916;
}

.clients .client-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.clients .client-carousel .client-spotlight {
  margin: 40px;
  position: relative;
}

.clients .client-carousel .client-spotlight img {
  height: 300px;
}

.clients .client-carousel .client-spotlight .client-name {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 32px;
}

.clients h3 {
  margin-top: 30px;
}

.clients .client-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
}

.clients .client-logos > * {
  width: 200px;
  margin: 20px;
}

.insert {
  min-height: 450px;
  background: #FF7916;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insert .insert-quote {
  padding: 80px;
  font-size: 40px;
  font-style: italic;
  max-width: 1200px;
}

.contact {
  min-height: 600px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

.contact > * {
  width: 400px;
  margin: 20px;
}

.contact .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-left img {
  width: 200px;
  margin-bottom: 40px;
}

.contact .contact-left p {
  text-align: center;
}

.contact .vertical-divider {
  width: 40px;
}

.contact .contact-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-right form input, .contact .contact-right form button {
  height: 60px;
  width: 100%;
}

.contact .contact-right form * {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  font-size: 18px;
}

.contact .contact-right form button {
  background-color: #3E23B8;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

#navbar {
  width: 100vw;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  height: 100px;
  color: white;
}

#navbar .content-container {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

#navbar .content-container .navbar-brand #navbar-logo {
  height: 60px;
}

#navbar .content-container .navbar-nav .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
}

#navbar .content-container .navbar-nav .navbar-items li {
  margin-left: 20px;
  padding-bottom: 8px;
  border-bottom: rgba(0, 0, 0, 0) 2px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .content-container .navbar-nav .navbar-items li:hover {
  border-bottom: 2px #FF7916 solid;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 5px 60px;
  height: 100px;
}

#footer #footer-links {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
}

#footer #footer-links li {
  margin-left: 20px;
}
/*# sourceMappingURL=main.css.map */